/ffmpeg-8.0.1-essentials_build

# Model files
models/

#Because idw hear my and friends goofy voice commands
audiosample/
audio/

# Python caches
__pycache__/
**/__pycache__/

# Python build artifacts
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
env/

# Testing and coverage
.pytest_cache/
.coverage
coverage.xml

# Logs
*.log

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Frontend deps (if added later)
node_modules/

# Environment files
.env
.env.*

